In [ ]:
# How to compare integer with floating number ? For ex: comparing 10 with 10.0

In [2]:
name = input("What is your name: ")
age = int(input("How old are you: " ))
year = 2025 - age + 100 
print(name + ", you will be 100 years old in the year " + str(year))

What is your name:  Jim
How old are you:  7

Jim, you will be 100 years old in the year 2118

In [4]:
from platform import python_version
print(python_version())

3.12.12

In [5]:
def add(n1,n2):
    return n1+n2

In [6]:
result = add(100,200)

In [7]:
result

300

In [8]:
def name(name):
    print(name)

In [10]:
name('Venkat')

Venkat

In [1]:
work_hours = [('emp1',160),('emp2',170),('emp3',220)]

In [16]:
def emp_of_month(work_hours):

    current_max_hours = 0 
    emp_of_month = ''

    for emp,hours in work_hours:
        if hours > current_max_hours:
            current_max_hours = hours
            emp_of_month = emp
        else:
            pass

    return (emp_of_month,current_max_hours)

In [17]:
emp_of_month(work_hours)

('emp3', 220)

In [2]:
def emp_of_month(work_hours):
    #first, create placeholders to hold loop thru values
    current_max_hours = 0 
    emp_of_month = ''

    for emp,hours in work_hours:
        if hours > current_max_hours:
            current_max_hours = hours
            emp_of_month = emp
        else:
            pass

    # Return
    return (emp_of_month,current_max_hours)

emp,hours = emp_of_month(work_hours)

In [4]:
emp

NameError: name 'emp' is not defined

In [41]:
result

('emp3', 220)

In [1]:
# Square root in Python representation 
import math 

print(math.sqrt(25))

5.0

In [6]:
print(25 ** 0.5)  # or print(25 ** (1/2))

5.0

In [1]:
def my_decorator(func):
    def wrapper():
        print("Before the function runs")
        func()                       # call the original function
        print("After the function runs")
    return wrapper

In [2]:
@my_decorator
def say_hello():
    print('Hello')

In [3]:
say_hello()

Before the function runs
Hello
After the function runs

In [4]:
%pip install flask

Requirement already satisfied: flask in c:\users\venka\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: blinker>=1.9.0 in c:\users\venka\anaconda3\lib\site-packages (from flask) (1.9.0)
Requirement already satisfied: click>=8.1.3 in c:\users\venka\anaconda3\lib\site-packages (from flask) (8.1.8)
Requirement already satisfied: itsdangerous>=2.2.0 in c:\users\venka\anaconda3\lib\site-packages (from flask) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in c:\users\venka\anaconda3\lib\site-packages (from flask) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in c:\users\venka\anaconda3\lib\site-packages (from flask) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in c:\users\venka\anaconda3\lib\site-packages (from flask) (3.1.3)
Requirement already satisfied: colorama in c:\users\venka\anaconda3\lib\site-packages (from click>=8.1.3->flask) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [1]:
%%writefile hello.py
from flask import Flask

app = Flask(__name__)

@app.route("/")
def hello_world():
    return "<p>Hello, World!</p>"

Writing hello.py

In [3]:
flask --app hello.py run

SyntaxError: invalid syntax (3738721630.py, line 1)

In [1]:
# Python 2.x performs classic division for integers. Use floats to perform true division in Python 3.x
2.0/3

0.6666666666666666

In [2]:
4 * (6+5)

44

In [3]:
4 * 6 + 5

29

In [5]:
4 + 6 * 5

34

In [7]:
type(3 + 1.5 + 4)

float

In [8]:
100 ** .5

10.0

In [9]:
s = 'hello'

In [10]:
s[::-1]

'olleh'

In [11]:
# Build this list [0,0,0] two separate ways.
# METHOD 1 
[0]*3

[0, 0, 0]

In [12]:
# METHOD 2 
l = [0,0,0]

In [13]:
l

[0, 0, 0]

In [14]:
# Reassign 'hello' in this nested list to say 'goodbye' item in this list:
l = [1,2,[3,4,'hello']]

In [15]:
l[2][2]='goodbye'

In [16]:
l

[1, 2, [3, 4, 'goodbye']]

In [17]:
# Sort the list below:
l = [3,4,5,5,6]

In [18]:
# METHOD 1
sorted(l)

[3, 4, 5, 5, 6]

In [20]:
# METHOD 2
l.sort()
l

[3, 4, 5, 5, 6]

In [22]:
# Using keys and indexing, grab the 'hello' from the following dictionaries:
d = {'simple_key':'hello'}

In [23]:
d['simple_key']

'hello'

In [24]:
# Grab hello
d = {'k1':{'k2':'hello'}}

In [25]:
d['k1']['k2']

'hello'

In [26]:
# Getting a little tricker
# Grab hello
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [34]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [35]:
# Grab hello
d={'k1':[1,2,{'k2':['this is tricky',{'toughie':[1,2,['hello']]}]}]}

In [49]:
d['k1'][2]['k2'][1]['toughie'][2][0]

'hello'

### Can you sort a dictionary? Why or why not?
- ANS: NO...Becuase normal dictionaries are mappings not a sequence.

### What is the major difference between Tuples and Lists?
- Tuples are immutable

### How do you create a tuple?

In [51]:
t = (1,2,3)

In [52]:
t

(1, 2, 3)

### What is unique about sets?
- ANS: Sets don't allow __duplicate__ items. Set is unordered collection of unique elements and it is __mutable__

In [53]:
# Use a set to find the unique values of the list below:
l = [1,2,3,33,4,4,11,22,3,3,2]

In [54]:
set(l)

{1, 2, 3, 4, 11, 22, 33}

In [55]:
3.0 == 3

True

In [56]:
### What is the boolean output of the cell block below?
# two nested lists

l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False ?
l_one[2][0] >= l_two[2]['k1']

False