In [1]:
# Functions #1: print Hello World
# Write a function called myfunc that prints the string 'Hello World'.

def myfunc():
    print('Hello world')

In [2]:
myfunc()

Hello world

In [5]:
# Functions #2: print Hello Name
#Define a function called myfunc that takes in a name, and prints 'Hello Name' 

#NOTE: Define the function, but do not run it!

# Also, do not use f-strings, as they are not supported in this Coding Exercise.

def myfunc(name):
    print('Hello ' + name)

In [6]:
myfunc('Venkat')

Hello Venkat

In [7]:
# Functions #3 - simple Boolean
''' Define a function called myfunc that takes in a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye'

Remember, don't run the function, simply provide the definition.

For example, a function that returns 'Inside' if a is True and 'Outside' if a is False could look like:

def myfunc(a):
    if a == True:
        return 'Inside'
    elif a == False:
        return 'Outside'
'''

" Define a function called myfunc that takes in a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye'\n\nRemember, don't run the function, simply provide the definition.\n\nFor example, a function that returns 'Inside' if a is True and 'Outside' if a is False could look like:\n\ndef myfunc(a):\n    if a == True:\n        return 'Inside'\n    elif a == False:\n        return 'Outside'\n"

In [11]:
def myfunc(bool):
    if bool == True:
        return 'Hello'
    elif bool == False:
        return 'Goodbye'

In [12]:
myfunc(True)

'Hello'

In [13]:
myfunc(False)

'Goodbye'

In [14]:
myfunc(abc)

NameError: name 'abc' is not defined

In [15]:
def myfunc(a):
    if a == True:
        return 'Inside'
    elif a == False:
        return 'Outside'

In [16]:
myfunc(False)

'Outside'

In [20]:
#Functions #4 - using Booleans
''' Define a function called myfunc that takes three arguments, x, y and z.
If z is True, return x.  If z is False, return y.

Remember, don't run the function, simply provide the definition.

For example, a function that returns a if c is True and b if c is False might look like:

def myfunc(a,b,c):
    if c == True:
        return a
    else:
        return b
This is all you need to enter!

To give an idea what the function would look like when tested:

myfunc('Hello','Goodbye',False)
# Output: 'Goodbye'
'''

" Define a function called myfunc that takes three arguments, x, y and z.\nIf z is True, return x.  If z is False, return y.\n\nRemember, don't run the function, simply provide the definition.\n\nFor example, a function that returns a if c is True and b if c is False might look like:\n\ndef myfunc(a,b,c):\n    if c == True:\n        return a\n    else:\n        return b\nThis is all you need to enter!\n\nTo give an idea what the function would look like when tested:\n\nmyfunc('Hello','Goodbye',False)\n# Output: 'Goodbye'\n"

In [17]:
def myfunc(x,y,z):
    if z == True:
        return x
    else:
        return y

In [18]:
myfunc('Hello','Goodbye',False)

'Goodbye'

In [21]:
# Functions #5: simple math
'''
Define a function called myfunc that takes in two arguments and returns their sum.

Remember, don't run the function, simply provide the definition.

For example, a function that takes in two arguments and returns their product might look like:

def myfunc(a,b):
    return a*b
This is all you need to enter!

To give an idea what the above function would look like when tested:

myfunc(5,12)
# Output: 60
'''

"\nDefine a function called myfunc that takes in two arguments and returns their sum.\n\nRemember, don't run the function, simply provide the definition.\n\nFor example, a function that takes in two arguments and returns their product might look like:\n\ndef myfunc(a,b):\n    return a*b\nThis is all you need to enter!\n\nTo give an idea what the above function would look like when tested:\n\nmyfunc(5,12)\n# Output: 60\n"

In [22]:
def myfunc(num1,num2):
    return num1 * num2

In [23]:
myfunc(5,12)

60

In [24]:
myfunc(10,200)

2000

In [25]:
# Functions #6: is even
'''
Define a function called is_even that takes in one argument, and returns True if the passed-in value is even, False if it is not.

Remember, don't run the function, simply provide the definition.

For example, a function that returns True if a value is divisible by 3 might look like:

def is_evenly_divisible_by_3(n):
    if n%3 == 0:
        return True
    else:
        return False
This is all you need to enter!

To give an idea what the above function would look like when tested:

is_evenly_divisible_by_3(15)
# Output: True
Added note: this exercise requires that the function return True or False. Print statements will not work here.
'''

"\nDefine a function called is_even that takes in one argument, and returns True if the passed-in value is even, False if it is not.\n\nRemember, don't run the function, simply provide the definition.\n\nFor example, a function that returns True if a value is divisible by 3 might look like:\n\ndef is_evenly_divisible_by_3(n):\n    if n%3 == 0:\n        return True\n    else:\n        return False\nThis is all you need to enter!\n\nTo give an idea what the above function would look like when tested:\n\nis_evenly_divisible_by_3(15)\n# Output: True\nAdded note: this exercise requires that the function return True or False. Print statements will not work here.\n"

In [27]:
def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [28]:
is_even(5)

False

In [29]:
is_even(14)

True

In [30]:
is_even(9.5)

False

In [31]:
# Functions #7: is greater
'''
Define a function called is_greater that takes in two arguments, and returns True if the first value is greater than the second, False if it is less than or equal to the second.

Remember, don't run the function, simply provide the definition.

For example, a function that returns True if the first value is less than the second might look like:

def is_less(c,d):
    if c < d:
        return True
    else:
        return False
This is all you need to enter!

To give an idea what the above function would look like when tested:

is_less(5,9)
# Output: True
Added note: this exercise requires that the function return True or False. Print statements will not work here.
'''

"\nDefine a function called is_greater that takes in two arguments, and returns True if the first value is greater than the second, False if it is less than or equal to the second.\n\nRemember, don't run the function, simply provide the definition.\n\nFor example, a function that returns True if the first value is less than the second might look like:\n\ndef is_less(c,d):\n    if c < d:\n        return True\n    else:\n        return False\nThis is all you need to enter!\n\nTo give an idea what the above function would look like when tested:\n\nis_less(5,9)\n# Output: True\nAdded note: this exercise requires that the function return True or False. Print statements will not work here.\n"

In [72]:
def is_greater(num1,num2):
    if num1 > num2 or num1 == num2: #Python converts int to float then compare (10 --> 10.0)
        return True
    else:
        return False

In [73]:
is_greater(9,5)

True

In [74]:
is_greater(9.0,5.0)

True

In [75]:
is_greater(15,15.0) # Python converts int(10) to float (10.0) then compare

True

In [76]:
a = 10 
b = 10.0

In [77]:
print(a == b)

True

In [78]:
print (a > b)

False

In [79]:
print(a < b)

False

In [80]:
10 == 10.0

True

In [81]:
is_greater(3.0,3.0)

True

In [82]:
is_greater(3,3.00)

True

In [83]:
is_greater(9,9.0)

True

In [ ]:
#Functions #8: *args
'''
Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

Remember, don't run the function, simply provide the definition.

For example, a function that returns a count of the number of arbitrary arguments might look like:

def myfunc(*args):
    return len(args)
This is all you need to enter!

To give an idea what the above function would look like when tested:

myfunc(5,6,7,8)
# Output: 4
Added note: this exercise requires that the function return the sum. Print statements will not work here.
'''

In [97]:
def myfunc(*args):
    print(args)
    return sum(args),len(args)

In [98]:
myfunc(10,20,30,40)

(10, 20, 30, 40)

(100, 4)

In [ ]:
# Functions #9: pick evens
'''
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

Remember, don't run the function, simply provide the definition.

To give an idea what the function would look like when tested:

myfunc(5,6,7,8)
# Output: [6, 8]
Added note: this exercise requires that the function return a list. Print statements will not work here.
'''

In [103]:
def myfunc(*args):
    for item in args:
        if item%2 == 0:
            print(item)
        else:
            pass

In [104]:
myfunc(10,15,20,33)

10
20

In [109]:
def myfunc(*args):
    output = []
    for num in args:
        if num%2 == 0:
            output.append(num)
    return output

In [110]:
myfunc(10,15,20,33)

[10, 20]

In [ ]:
# Functions #10: skyline
'''
Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. 
Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. 
The output string can start with either an uppercase or lowercase letter, so long as letters alternate throughout the string.

Remember, don't run the function, simply provide the definition.

To give an idea what the function would look like when tested:

myfunc('Anthropomorphism')
# Output: 'aNtHrOpOmOrPhIsM'
Added note: this exercise requires that the function return a string. Print statements will not work here.
'''

In [161]:
def myfunc(string):
    out = []
    for i in range(len(string)):
        
        if i%2==0:
            out.append(string[i].upper())
        else:
            out.append(string[i].lower())
    return ''.join(out)

In [160]:
myfunc('Python')

'PyThOn'

In [163]:
myfunc('abcdefghijklmnopqrstuvwxyz')

'AbCdEfGhIjKlMnOpQrStUvWxYz'

#### 11. Lesser of two evens. Write a function that returns the lesser of two given numbers if both numbers are even,but returns the greater if one or both numbers are odd.
#### lesser_of_two_evens(2,4) --> 2 
#### lesser_of_two_evens(2,5) --> 5

In [167]:
# METHOD 1
def lesser_of_two_evens(a,b):
      
    if a%2 == 0 and b%2 == 0:
        # BOTH NUMBERS ARE EVEN !
        if a < b:
            result = a
        else:
            result = b 
    else:
        # ONE OR BOTH NUMBERS ARE ODD ! 
        if a > b:
            result = a
        else:
            result = b
    return result

In [168]:
lesser_of_two_evens(2,4)

2

In [169]:
lesser_of_two_evens(2,5)

5

In [170]:
lesser_of_two_evens(100,101)

101

In [171]:
# METHOD 2 (using min & max func)

def lesser_of_two_evens(a,b):
      
    if a%2 == 0 and b%2 == 0:
        # BOTH NUMBERS ARE EVEN !
        result = min(a,b) 
    else:
        # ONE OR BOTH NUMBERS ARE ODD ! 
        result = max(a,b)
    return result

In [172]:
lesser_of_two_evens(100,101)

101

In [173]:
# METHOD 3 (using return)

def lesser_of_two_evens(a,b):
      
    if a%2 == 0 and b%2 == 0:
        # BOTH NUMBERS ARE EVEN !
        return min(a,b) 
    else:
        # ONE OR BOTH NUMBERS ARE ODD ! 
        return max(a,b)

In [174]:
lesser_of_two_evens(100,101)

101

In [177]:
lesser_of_two_evens(80,81)

81

#### 12. ANIMAL CRACKERS : Write a function takes a two-word string and returns True if both words begin with same char/letter

#### animal_crackers('Levelheaded Llama') --> True
#### animal_crackers('Crazy Kangaroo') --> False

In [184]:
# METHOD 1
def animal_crackers(text):
    wordlist = text.split()
    #print(wordlist)

    first = wordlist[0]
    second = wordlist[1]

    return first[0] == second[0]

In [185]:
animal_crackers('Levelheaded Llama')

True

In [183]:
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [190]:
# METHOD 2
def animal_crackers(text):
    wordlist = text.lower().split() # if text comes with lower letter
    #print(wordlist)
    #first = wordlist[0]
    #second = wordlist[1]

    return wordlist[0][0] == wordlist[1][0]

In [191]:
animal_crackers('Levelheaded Llama')

True

In [192]:
animal_crackers('Crazy Kangaroo')

False

In [193]:
animal_crackers('Levelheaded llama')

True

#### 13. MAKES TWENTY. Give two numbes, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
#### makes_twenty(20,10) ==> True
#### makes_twenty(12,8) ---> True
#### makes_twenty(2,3) ---> False

In [195]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [196]:
makes_twenty(20,10)

True

In [197]:
makes_twenty(12,8)

True

In [198]:
makes_twenty(2,3)

False

In [199]:
# METHOD 2 (we can directly return boolean value with return)
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [200]:
makes_twenty(20,10)

True

In [201]:
makes_twenty(2,3)

False

#### 14. OLD MACDONALD : Write a function that capitalizes the first and fourth letters of a name
#### old_macdonald('macdonald') --> MacDonald
#### Note: 'macdonald'.captitalize() returns 'Macdonald'

In [206]:
# METHOD 1 (with upper method)

def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]

    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [207]:
old_macdonald('macdonald')

'MacDonald'

In [219]:
# METHOD 2 with capitalize method

def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
      
    return first_half.capitalize() + second_half.capitalize()

In [220]:
old_macdonald('macdonald')

'MacDonald'

In [222]:
old_macdonald('rajkrish')

'RajKrish'

#### 15. MASTER YODA: Given a sentence, return a sentence with the words reversed. 
#### master_yoda('I am home') --> 'home am I'
#### master_yoda('We are ready') --> 'ready are we'

In [245]:
def master_yoda(text):
    wordlist = text.split()
    #print(wordlist)
    reverse_wordlist = wordlist[::-1] # -1 from reverse order of words
    # print(reverse_wordlist)
    return ' '.join(reverse_wordlist)

In [246]:
master_yoda('I am home')

'home am I'

In [247]:
master_yoda('We are ready')

'ready are We'

#### .join() --> take string in btw '' and concatenate with every word to fill in of list 
####  syntax: '--'.join(mylist) --> 'a--b--c'

In [229]:
mylist = ['a','b','c']

In [230]:
'--'.join(mylist)

'a--b--c'

In [231]:
'$$'.join(mylist)

'a$$b$$c'

In [234]:
mylist1=['X','Y','Z']
'---'.join(mylist1)

'X---Y---Z'

In [235]:
mylist1=['X','Y','Z']
''.join(mylist1)

'XYZ'

#### 16. Given an integer n, return True if n is within 10 of either 100 or 200.
#### almost_there(90) --> True
#### almost_there(104) --> True
#### almost_there(150) --> False
#### almost_there(209) --> True
#### NOTE: abs(num) returns the absolute value of a number

In [251]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [252]:
almost_there(90)

True

In [253]:
almost_there(104)

True

In [254]:
almost_there(150)

False

In [255]:
almost_there(210)

True

In [256]:
almost_there(211)

False

In [257]:
abs(100)

100

In [258]:
abs(99.99)

99.99

# LEVEL 2 problem
#### Find 33
#### Given a list of ints, return True if the array contains a 3 next to a 3 some where.
#### has_33([1,3,3]) --> True 
#### has_33([1,3,1,3]) --> False 
#### has_33([3,1,3]) --> False

In [272]:
def has_33(nums):
    
    for i in range(0,len(nums)-1): # from 0 to last but one index position
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [273]:
has_33([1,3,3])

True

In [274]:
has_33([1,3,1,3])

False

In [275]:
mylist = [1,3,1,3]

In [276]:
len(mylist)

4

In [278]:
len(mylist)-1

3

In [279]:
has_33([3,1,3])

False

In [288]:
def has_33(nums):
    
    for i in range(0,len(nums)-1): # from 0 to last but one index position
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [289]:
has_33([1,3,3])

True

In [285]:
has_33([3,1,3])

False

In [286]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [287]:
for i in range(5):
    print(i)

0
1
2
3
4

#### 17. PAPER DOLL: Given a string, return a string where every char in the original there are three chars
#### paper_doll('Hello') --> 'HHHeeellllllooo'
#### paper_doll('Mississippi') --> 'MMMiiissssssiiissssssppppppiii'

In [290]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [291]:
paper_doll('Hello')

'HHHeeellllllooo'

In [292]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [293]:
paper_doll('ARJUN')

'AAARRRJJJUUUNNN'

In [294]:
def abc(text):
    result = ''
    for char in text:
        result += char*3 
    return result

In [296]:
abc('abcdefgh')

'aaabbbcccdddeeefffggghhh'

#### 18. BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum.If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustments) execeeds 21, return 'BUST'
##### blackjack(5,6,7) --> 18
##### blackjack(9,9,9) --> 'BUST'
##### blackjack(9,9,11) --> 19

In [298]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <=31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [299]:
blackjack(5,6,7)

18

In [300]:
blackjack(9,9,9)

'BUST'

In [301]:
blackjack(9,9,11)

19

#### 19.SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
##### summer_69([1,3,5]) ---> 9
##### summer_69([4,5,6,7,8,9]) ---> 9
##### summer_69([2,1,6,9,11]) ---> 14

In [314]:
def summer_69(arr):
    total = 0
    add = True

    for num in arr:
        if add:
            if num != 6:
                total += num
            else:
                add = False  # start ignoring numbers
        else:
            if num == 9:
                add = True  # stop ignoring numbers

    return total

In [311]:
summer_69([1,3,5])

9

In [312]:
summer_69([4,5,6,7,8,9])

9

In [313]:
summer_69([2,1,6,9,11])

14

#### 20. SPY GAME: Write a function that takes in a list of intergers and returns True if it contains 007 in order.
#### spy_game([1,2,1,0,0,7,5]) ==> True
#### spy_game([1,0,2,4,0,7,7]) ==> True (00 before 7 here)
#### spy_game([1,7,2,0,4,5,0]) ==> False

In [325]:
def spy_game(nums): 
   
    code = [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x'] length = 1
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [322]:
spy_game([1,2,1,0,0,7,5])

1

True

In [323]:
spy_game([1,7,2,0,4,5,0])

2

False

In [324]:
spy_game([0,0,7])

1

True

#### 21. COUNT PRIMES: Write a function that returns the number of prime numbers that exist upto and including a given number
#### By convention we will treat 0 and 1 are not prime numbers.
#### Prime Number is divisible by 1 and number itself (only two factors). Ex: 2 (is only even prime number), 3, 5, 7, 11, 13, 17...

In [ ]:
def count_primes(num):
    
    # check for 0 or 1 input
    if num < 2:
        return 0 


     # 2 or greater

In [327]:
def is_prime(num):
    if num <= 1:
        return False
    
    for i in range(2, num):
        if num % i == 0:
            return False

    return True

In [328]:
is_prime(20)

False

In [329]:
def count_primes(num):
    # check for 0 or 1 input 
    if num < 2:
        return 0 

    #####################
    # 2 or greater
    ####################

    # Store our prime numbers 
    primes = [2]

    # counter going upto the input num
    x= 3
    
    # x is going thru every number upto input num

    while x <= num:
        # check if x is prime
        for y in range(3,x,2): #because from 3, every second number is even
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [333]:
count_primes(10)

[2, 3, 5, 7]

4

In [334]:
def count_primes2(num):
    # check for 0 or 1 input 
    if num < 2:
        return 0 

    #####################
    # 2 or greater
    ####################

    # Store our prime numbers 
    primes = [2]

    # counter going upto the input num
    x= 3
    
    # x is going thru every number upto input num

    while x <= num:
        # check if x is prime
        for y in primes: #because from 3, every second number is even
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [335]:
count_primes2(10)

[2, 3, 5, 7]

4

#### PRINT BIG: Write a function that takes in a single letter, and returns a 5X5 representation of that letter
#### print_big('a')
'''  output:  *
             *  *
            ******
            *    *
            *    *
'''
#### HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
#### For purpose of this exercise, it's ok if your dictionary stops at "E".

In [345]:
def print_big(letter):
    patterns = {1:'  *  ',
                2:' * * ',
                3:'*   *',
                4: '*****',
                5:'****',
                6:'   * ',
                7:' *   ',
                8:'*    * ',
                9:'*    '
               }
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}

    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [352]:
print_big('a')

  *
 * *
*****
*   *
*   *