# List comprehensions

In [2]:
mystring = 'Hello'

In [3]:
# 1. create a empty list 
# 2. iterate thru string object and append to empty list
mylist = []

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['H', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['H', 'e', 'l', 'l', 'o']

In [7]:
mylist = [x for x in 'word']  # both x should match

In [8]:
mylist

['w', 'o', 'r', 'd']

In [10]:
mylist = [num for num in range(0,11)]

In [11]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
# we can do operations on first variable (num)
mylist = [num**2 for num in range(0,11)]

In [18]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
myl = [num for num in range(0,21)]

In [22]:
myl

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [23]:
# even we can add if stmt also 
mylist = [x for x in range(0,11) if x%2 ==0]

In [24]:
mylist

[0, 2, 4, 6, 8, 10]

In [25]:
mylist = [x**2 for x in range(0,11) if x%2 ==0]

In [26]:
mylist

[0, 4, 16, 36, 64, 100]

In [30]:
celcius = [0,1,2,4,10]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [31]:
fahrenheit

[32.0, 33.8, 35.6, 39.2, 50.0]

In [58]:
# converting the above with for loop from flatten version
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [59]:
fahrenheit

[32.0, 33.8, 35.6, 39.2, 50.0]

In [66]:
c = [10,20,30,40,50,66.5]

f = [((9/5)*c+32) for c in c]

In [63]:
f

[50.0, 68.0, 86.0, 104.0, 122.0, 151.7]

In [69]:
mylist = [word for word in 'word']

In [70]:
mylist

['w', 'o', 'r', 'd']

In [73]:
mylist0 = [num for num in range(0,25)]

In [74]:
mylist0

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [79]:
# For even numbers 
mylist0 = [num for num in range(0,25) if num%2 == 0]

In [80]:
mylist0

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [81]:
# For odd numbers
mylist1 = [num for num in range(0,25) if num%2 !=0]

In [78]:
mylist1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [90]:
# Using if else in list comprehension. Observe order changed. Insert the condition after first variable and before "for" keyword
results = [num if num%2==0 else 'ODD NUMBER' for num in range(0,11)]

In [91]:
results

[0,
 'ODD NUMBER',
 2,
 'ODD NUMBER',
 4,
 'ODD NUMBER',
 6,
 'ODD NUMBER',
 8,
 'ODD NUMBER',
 10]

In [94]:
results = ['EVEN' if num%2==0 else 'ODD' for num in range(0,11)]

In [95]:
results

['EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN']

In [98]:
['EVEN' if num%2==0 else 'ODD' for num in range(0,10)]

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [113]:
# Nested for loop in list comprehensions

mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

# take first number and multiply with all second list

In [114]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [105]:
myl = []

for x in range(0,5):
    for y in range(6,10):
        myl.append(x*y)

In [106]:
myl

[0, 0, 0, 0, 6, 7, 8, 9, 12, 14, 16, 18, 18, 21, 24, 27, 24, 28, 32, 36]

In [111]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [112]:
for x in range(6,10):
    print(x)

6
7
8
9

In [116]:
# converting below nested for loop to list comprehension
'''mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
'''
mylist =[x*y for x in [2,4,6] for y in [1,10,100]]

In [117]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [118]:
mylist = []

for x in range(1,5):
    for y in range(6,10):
        mylist.append(x*y)

In [119]:
mylist

[6, 7, 8, 9, 12, 14, 16, 18, 18, 21, 24, 27, 24, 28, 32, 36]

In [120]:
mylist = [x*y for x in range(1,5) for y in range(6,10) ]

In [121]:
mylist

[6, 7, 8, 9, 12, 14, 16, 18, 18, 21, 24, 27, 24, 28, 32, 36]

In [123]:
mylist_cubes = [x*y*z for x in range(1,3) for y in range(4,6) for z in range(7,10)]

In [124]:
mylist_cubes

[28, 32, 36, 35, 40, 45, 56, 64, 72, 70, 80, 90]

In [125]:
mylist_cubes = [x*y*z for x in [1,2] for y in [3,4] for z in [5,6]]

In [126]:
mylist_cubes

[15, 18, 20, 24, 30, 36, 40, 48]