# Methods and Functions Homework - Exercises

#### 1. Write a function that computes the volume of a sphere given its radius. The volue of a sphere is given as its radius (4/3Pir3 (r cube)

In [4]:
#How to use pi in Python 
import math
print(math.pi) # we can use math.pi or 3.14 anywhere you need the value of "Pi"

3.141592653589793

In [7]:
def volume(radius):
    return (4/3)*(3.14)*(radius**3)

In [8]:
volume(2)

33.49333333333333

In [9]:
def volume(radius):
    return (4/3)*(math.pi)*(radius**3)

In [10]:
volume(2)

33.510321638291124

#### 2. Write a function that checks whether a number is in a given range(inclusive of high and low)

In [30]:
# if we use range() it is exclusive of high. see below item not including 5 but upto 5

for item in range(0,10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [16]:
5 in range(0,5)

False

In [17]:
def range_chk(num,low,high):
    return num in range(low,high+1)

In [18]:
range_chk(5,5,10)

True

In [36]:
range_chk(9,5,8) # 9 not in this range from 5,6,7 (upto high not including high)

False

In [35]:
for item in range(5,9):
    print(item)

5
6
7
8

In [37]:
range_chk(21,10,20)

False

In [38]:
range_chk(21,10,21)

True

In [45]:
# another way for the above one
def range_chk(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in range of {low} and {high}')
    else:
        print(f'{num} not in range of {low} and {high}')

In [43]:
range_chk(21,10,21)

21 is in range of 10 and 21

In [44]:
range_chk(9,5,8)

9 not in range of 5 and 8

#### 3. Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters
#### Sample string "Hello Mr.Rogers, how are you this fine Tuesday?"
#### Output: Upper case chars = 4, lower case chars = 33
#### HINT: Two string methods that might be useful: .isupper() and .islower()

In [61]:
# METHOD 1 - using for loop
def up_low(s):
    lowercase = 0
    uppercase = 0 

    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
        else: 
            pass # if string contains "?"

    print(f'Original String: {s}')
    print(f'Lowercase count: {lowercase}')
    print(f'Uppercase count: {uppercase}')

In [62]:
s = "Hello Mr.Rogers, how are you this fine Tuesday?"
up_low(s)

Original String: Hello Mr.Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [63]:
s = "Hey...Mr.Venkat, How are you doing today?"
up_low(s)

Original String: Hey...Mr.Venkat, How are you doing today?
Lowercase count: 26
Uppercase count: 4

In [64]:
# METHOD 2 - using dictionaries 
def up_low(s):
    d = {'upper':0,'lower':0} 

    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else: 
            pass # if string contains "?"

    print(f'Original String: {s}')
    print(f'Lowercase count: {d["lower"]}')
    print(f'Uppercase count: {d["upper"]}')

In [65]:
s = "Hey...Mr.Venkat, How are you doing today?"
up_low(s)

Original String: Hey...Mr.Venkat, How are you doing today?
Lowercase count: 26
Uppercase count: 4

#### 4. Write a Python function that takes a list and returns a new list with unique elements of the first list
#### Sample list : [1,1,1,1,2,2,3,3,3,3,3,4,5]
#### Unique list: [1,2,3,4,5]

In [66]:
# Using set() and it is most Pythonic way
def unique_list(sample_list):
    return list(set(sample_list))

In [67]:
unique_list([1,1,1,1,2,2,3,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [71]:
# Method 2 - manually
def unique_list1(sample_list):
    seen_numbers = []
    for num in sample_list:
        if num not in seen_numbers:
            seen_numbers.append(num)
    return seen_numbers

In [72]:
unique_list1([1,1,1,1,2,2,3,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

#### 5. Write a Python function to multiply all the numbers in a list.
#### sample list : [1,2,3,-4]
#### Expected output : -24

In [73]:
def multiply(numbers):
    total = 1 # IF ASK IS TOTAL, THIS TOTAL MUST START WITH "0". SINCE THIS IS MULTIPLY, TOTAL=1 SO ANY NUMBER MULTIPLY WITH 1 IS THE SAME NUMBER
    for num in numbers:
        total = total * num
    return total

In [74]:
multiply([1,2,3,-4])

-24

In [75]:
multiply([100,100])

10000

In [76]:
multiply([0,100])

0

#### 6. Write a Python function that checks whether a word or phrase is a palindrome (reads the same backward as forward) or not. Must return True or False
#### Ex1: madam --> madam, kayak --> kayak, racecar --> racecar, nurses run --> nurses run, zilliz --> zilliz 
#### U can use .replace() to deal with spaces in the string

In [77]:
def palindrome(s):
    # REMOVE SPACES STRING
    s = s.replace(' ','')
    # Check if string is == reversed version of the string 
    return s

In [78]:
palindrome('nurses run')

'nursesrun'

In [83]:
def palindrome(s):
    # REMOVE SPACES STRING
    s = s.replace(' ','')
    # Check if string is == reversed version of the string 
    return s == s[::-1] # this means - all the way from the begining to ending with step size -1 (means grab from last char of the given string)

In [84]:
palindrome('madam')

True

In [85]:
palindrome('nurses run')

True

In [86]:
palindrome('m a d a m')

True

In [87]:
palindrome('zillow')

False

In [88]:
palindrome('zilliz')

True

#### 7. Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)
#### Pangram are words or sentences containing every letter of the alphabet at least once 
#### Ex: "The quick brown fox jumps over the lazy dog"
#### You may want to use .replace() method to get rid of spaces

In [94]:
import string 

def ispangram(str1,alphabet= string.ascii_lowercase):

    # create a set of the alphabet
    alphaset = set(alphabet)
    #print(alphaset)

    # Remove any spaces from the input string
    str1 = str1.replace(' ','')

    # Convert into lower case
    str1 = str1.lower()

    # Grab all unique letters from the string with set() method
    str1 = set(str1)
    
    # compare alphabet set == string set input
    return str1 == alphaset

In [97]:
ispangram("The quick brown fox jumps over the lazy dog")

True