# Useful Operators in Python 
* __range()__ function
* __enumerate()__ --> enumerate() is a built-in function that adds a __counter (index) to an iterable__ (like a list, tuple, string) while looping.
* __zip()__ function --> __to combine (or zip together)__ elements from two or more iterables (like lists, tuples) position-by-position
* __in__ operator --> to __check__ if variable value in the iterable object and return boolean
* __input()__ function --> to input something or user input. This always expects string.
 ---
- The term __inplace in Python refers to an operation that changes the original object directly, instead of creating a new one.__

In [1]:
mylist = [1,2,3]

In [2]:
for num in range(10):  # prints upto 10, not including 10
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range (0,10,2):
    print(num)

0
2
4
6
8

In [5]:
range (0,10,2)

range(0, 10, 2)

In [6]:
list(range (0,10,2))

[0, 2, 4, 6, 8]

In [7]:
# without enumerate() function
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [8]:
# enumerate() built-in function 
# enumerate takes any iterable object (list,tuple,string) and adds a counter (or index) while looping
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [77]:
# index starts from "0" by default. 
for index,letter in enumerate(word):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

In [80]:
# You can pass "start" to bypass default index if needed.
for index,letter in enumerate(word,start=1): 
    print(index,letter)

1 a
2 b
3 c
4 d
5 e

In [82]:
# You can pass "start" to bypass default index if needed.Here, start index is 5
nums = [10,20,30]

for i,n in enumerate(nums,start=5):
    print(i,n)

5 10
6 20
7 30

In [84]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

# zip(mylist1,mylist2)
# Here, zip function wont return anything since it is inplace function.
zipping = zip(mylist1,mylist2)

In [85]:
zipping

In [17]:
# zip function 
for item in zip(mylist1,mylist2):  
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [21]:
# zip with 3 lists
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [23]:
# zip func will go as far as which is the shortest. It wont zip together if list is uneven like below:

mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c','d']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [24]:
# convert the zip into list 
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [26]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a,b,c)

1 a 100
2 b 200
3 c 300

In [28]:
# "in" operator return boolean if variable in iterable object (like list)
'x' in [1,2,3]

False

In [29]:
'x' in ['x','y']

True

In [30]:
'2' in [1,2,3]

False

In [31]:
'a' in 'a word'

True

In [32]:
#checking in a dict 
'mykey' in {'mykey':345}

True

In [33]:
d = {'mykey':345}

345 in d.values()

True

In [36]:
d = {'mykey':345}

345 in d.keys()

False

In [37]:
mylist = [10,20,30,50,100]
min(mylist)

10

In [38]:
max(mylist)

100

In [41]:
# random library 
# shuffle for shuffling 
from random import shuffle 
shuffle(mylist)

In [42]:
mylist

[100, 20, 50, 30, 10]

In [48]:
# random integer from range 

from random import randint 
randint(0,100)

35

In [53]:
variable1 = randint(0,100) # if func return something, we can assign to some variable

In [54]:
variable1

99

In [46]:
v2 = shuffle(mylist) # this wont return anything. This is inplace function and it is None type if you check
# The term inplace in Python refers to an operation that changes the original object directly, instead of creating a new one.

In [47]:
v2

In [55]:
type(v2)

NoneType

In [58]:
mynum = randint(0,1000)

In [59]:
mynum

647

In [60]:
input('Enter a number here:' )

Enter a number here: 100

'100'

In [66]:
# you can assign to variable directly. input always expects as string, so convert as you needed
result = input('What is your name? ')

What is your name?  Raj

In [67]:
result

'Raj'

In [68]:
result = input('Favourite number: ')

Favourite number:  100

In [69]:
type(result)

str

In [70]:
int(result) # convert into integer

100

In [72]:
float(result) # convert into float

100.0

In [74]:
# we can directly cast also 
result = int(input('Favourite number: '))

Favourite number:  99

In [75]:
result

99

In [76]:
type(result)

int