# Sets
* Sets are **unordered** collection of __unique__ elements. Meaning there can only be one representative of the same object

In [2]:
myset = set()

In [3]:
myset

set()

In [4]:
myset.add(1)

In [5]:
myset

{1}

In [6]:
myset.add(2)

In [7]:
myset

{1, 2}

In [8]:
# lets add 2 again 
myset.add(2)

In [9]:
myset

{1, 2}

In [11]:
#CONVERTING LIST INTO SET
mylist=[1,2,3,1,2,9,0,2,2]
set(mylist)

{0, 1, 2, 3, 9}

In [12]:
# Write an expression that would turn the string 'Mississippi' into a seq of unique letters.
set('Mississippi')

{'M', 'i', 'p', 's'}