In [6]:
import sys
print(sys.version)

3.12.12 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 20:05:38) [MSC v.1929 64 bit (AMD64)]

In [7]:
# Python is dynamic typing meaning you can assing different data type to variables

In [2]:
a = 5

In [3]:
a

5

In [10]:
a = "venkat"

In [15]:
a

'venkat'

In [16]:
a + a

'venkatvenkat'

In [17]:
a = 10

In [23]:
a= a + a # run this many time to observe

In [24]:
a

40

In [25]:
type(a)

int

In [26]:
a = 30.3

In [27]:
type(a)

float

In [30]:
int = 4 # avoid using global keywords such as "int"

In [29]:
int

4

In [4]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [5]:
my_taxes

10.0

### Strings: ordered sequence of chars. Since it is ordered sequence, can do below:
* indexing
* reverse indexing 
* slicing --> to grab subsection of chars.
  * __syntax: [start:stop:step]__
  * __start:__ numerical index for the slice start
  * __stop:__ numerical index you will go up to (but not include)
  * __step:__ size of the jump you take
* HELLO --> indexing --> 0 1 2 3 4
* HELLO --> reverse indexing --> 0 -4 -3 -2 -1

In [8]:
my_str="ABCDEFGHIJKLMNOPQRSTUVWXYZ"

In [9]:
my_str

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [11]:
my_str[0:10:2]

'ACEGI'

In [12]:
'this is also a string'

'this is also a string'

In [14]:
"I'm going on a run"

"I'm going on a run"

In [15]:
'I'm going on a run'

SyntaxError: unterminated string literal (detected at line 1) (375039999.py, line 1)

In [16]:
# this only prints the second string not both. So,we have to use print() method
"hello world one"
"hello world two"

'hello world two'

In [17]:
print("hello world one")
print("hello world two")

hello world one
hello world two

### Escape Sequences
* "\n" --> new line
*  "\t" --> new tab

In [21]:
print('hello world')
print("hello \nworld")
print("hello \t world")

hello world
hello
world
hello 	 world

In [22]:
len("HELLO")

5

### String properties and methods

In [24]:
mys="Hello World"
mys[0]

'H'

In [25]:
mys[8]

'r'

In [26]:
mys[5]

' '

In [27]:
mys[-1] # reverse indexing

'd'

In [30]:
mys[-5]

'W'

In [31]:
mys[-10]

'e'

In [32]:
mys[-11]

'H'

In [33]:
mys="HELLO"
mys[-5]

'H'

In [38]:
mys="abcdefghijk"
mys

'abcdefghijk'

In [39]:
mys[2:]

'cdefghijk'

In [40]:
mys[:3]

'abc'

In [41]:
mys[3:6]

'def'

In [42]:
for i,char in enumerate(mys):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [43]:
mys[::2] # step size

'acegik'

In [44]:
mys[::5]

'afk'

In [47]:
mys="ABCEDFGHIJKLMNOPQRSTUVWXYZ"
mys[::-1] # this is kind of python trick. from begining all the way to end with -1 step. this reverse the entire string

'ZYXWVUTSRQPONMLKJIHGFDECBA'

In [48]:
mys="Hello World"
mys[-3]

'r'

In [50]:
mys[8:9]

'r'

In [52]:
'PHOENIXARJUNA'[7:12] # no need to assign the string to variable always. We can directly use the string with operations as well.

'ARJUN'

In [53]:
'PHOENIXARJUNA'[0:7]

'PHOENIX'

In [54]:
'PHOENIXARJUNA'[:7]

'PHOENIX'

In [61]:
"ARJUN"[::-1]
'ARJUN'[-]

IndexError: string index out of range

In [60]:
s1="ARJUN"
print("".join(reversed(s1)))

NUJRA

In [63]:
for i in range(len(s1)-1,-1,-1):
    print(i,s1[i])

4 N
3 U
2 J
1 R
0 A

### String Properties and Methods

### Immutability --> strings are immutable

In [75]:
name="PHOENIX"
# name[0]="Q" # direct assignment wont work with strings since strings are immutable. We have to concatenate.
letters = name[1:]

In [76]:
letters

'HOENIX'

In [77]:
# now concatenate with "+" . This is string concatenation.
"Q"+letters

'QHOENIX'

In [81]:
x="Hello World!"
x+ "...It is beautiful outside!"

'Hello World!...It is beautiful outside!'

In [84]:
x=x+" it is beautiful outside!"

In [85]:
x

'Hello World! it is beautiful outside! it is beautiful outside!'

In [91]:
# String concatenation with "*" multiplication
mys="PHOENIXARJUNA|"
mys*10

'PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|PHOENIXARJUNA|'

In [92]:
2+3

5

In [93]:
'2'+'3'

'23'

### string built-in methods in Python

In [108]:
x="Hello World"
#x.upper() # --> this method is inplace means it doesn't effect the original string. If you want, assign to variable like x = x.upper()

In [109]:
x = x.upper()

In [110]:
x

'HELLO WORLD'

In [118]:
x="Hello World"

In [119]:
x.upper()

'HELLO WORLD'

In [120]:
x.capitalize()

'Hello world'

In [121]:
x.casefold()

'hello world'

In [122]:
x.split()

['Hello', 'World']

In [123]:
x="Hi this is a string"
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [124]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [125]:
"Hello"[1]

'e'

In [127]:
"Sammy"[4]

'y'

### Print Formatting with Strings
- Often you will want to **inject** a variable into a string for printing. For ex: my_name="Venkat" print("Hello" + my_name)
- There are multiple ways to format string for printing variable in them
- This is known as __string interpolation.__
- Two methods:
  - .format() method
  - f-strings (formatted string literals)
- Formatting with the .format() method - A good way to format objects into strings for print statements is with the string .format() method. The syntax is : 'String here{} then also {}'.format('something1','something2')

In [128]:
# The syntax is : "String here{} then also {}".format("something1","something2")
# strings can be inserted by index position

In [130]:
print('This is a string{}'.format(' INSERTED'))

This is a string INSERTED

In [131]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [133]:
# Lets say we want The quick brown fox, pass thoese indexes into {}
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [134]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [137]:
# we can also assign variables and insert those
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

### Float formatting follows "{value:width.precision f}"
* width --> total printed size
* precision --> number of digits after decimal

In [141]:
result=100/7

In [142]:
result

14.285714285714286

In [143]:
print("The result is {}".format(result))

The result is 14.285714285714286

In [144]:
print("The result is {r}".format(r=result))

The result is 14.285714285714286

In [149]:
print("The result is {r:10.3f}".format(r=result))

The result is     14.286

In [150]:
print("The amount is {r:10.5f}".format(r=result))

The amount is   14.28571

In [152]:
print("The amount is {r:1.3f}".format(r=result))

The amount is 14.286

### f-string (formatted string literals) - this is Python 3.x feature (https://pyformat.info/)

In [156]:
name = "Venkat"
print("Hello, his name is {}".format(name))

Hello, his name is Venkat

In [157]:
print(f"Hello, his name is {name}")

Hello, his name is Venkat

In [176]:
# multiple variables 
c1= "child1"
c1_age = 18
c2 = "child2"
c2_age = 7

print(f"{name} is {age} years old")

Arjun is 7 years old

In [167]:
print(f"{name} is {age} years old")

Arjun is 7 years old

In [168]:
print(f"{name1} is {age1} years old")

Venkat is 40 years old

In [178]:
print(f"My {c1} is {c1_age} years old")

My child1 is 18 years old

In [179]:
print(f'My {c2} is {c2_age} years old')

My child2 is 7 years old

In [180]:
name="Sam"
age=3
print(f"{name} is {age} years old.")

Sam is 3 years old.